<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet"  href="/stylesheets/user2.css">
</head>
<body>

      <section id="sec1">
    <nav class="topnav" id="Mytopnav">

        <a href="/user">Home</a> 
       <% if(user.notifications.length>0){ %>
        <button id="notbtn" style="color: #ff1a1a ;background: inherit ;margin-left: 1%;border: none;font-weight: 600 " >Notifications</button>
       <% } %>
        <!-- <span style="margin-right: 2%;margin-left:70%; "> Logged in as <%= user.username %></span> -->
        
     <a href="/logout" id="logout"> Logout</a>
     <a href="javascript:void(0);" class="icon" onclick="myFunction()">
             <i class="fa fa-bars"></i>
           </a>
 </nav>
     
         
         
    
     
        <div id="allforms">
        <div class="buttondiv">
                <form action="/user/sort/1" method="GET">
                <button class="latest">Latest</button>
        
                </form>
                <form action="/user/sort/2" method="GET">
                <button class="trending">Trending Forms</button>
                </form>
              </div>
            <div id="userforms">       
             <% forms.forEach(function(form,index){ %>
                         <div class="formblock">
                         <% if((form.duration + form.time)-Date.now()> 0){ %>
                    
                            <p>Form Title</p>  <%= form.title %> <br>
                            <h2>Total Submissions: <%=  form.subm %></h2>
                        <%  if(user.subforms.length>0){ %>
                               <% var t=0; %>
                          <%   for(  var  i=0;i < user.subforms.length;i++){ %> 
                             <% if(user.subforms[i].formid==form.id){ %>
                                  
                                 <% if(user.subforms[i].time < form.subperuser){ %>
                                     
                            <form action="/form/<%= form.id %>/submit/">
                                <button>Fill response</button>
                                </form>
                               
                                <p class="submsg">You can fill this form <%=  form.subperuser -user.subforms[i].time  %> more times </p>
                                <p class="deadlinemsg">*Submission ends in <%= (((form.duration+form.time)-Date.now())/3600000 ).toFixed(2)%> hours </p>
                                  <% } %>
                                  <% if(user.subforms[i].time >= form.subperuser){ %>
                                        <p class="srymsg">Sorry! You have reached the Submission limit for this form</p>
                                  <% } %>
        
                                
                                    <% t=1;break; %>
                             <% } %>
                           
                           <%  }    %>    
                           <% } %>
                           <% if(t==0){ %>
                            
                             
                 
                                <form action="/form/<%= form.id %>/submit/">
                                    <button>Fill response</button>
                                    </form>
                                   
                                    <p class="submsg">You can fill this form <%=  form.subperuser  %> more times </p>
                                    <p class="deadlinemsg">*Submission ends in <%= (((form.duration+form.time)-Date.now())/3600000 ).toFixed(2)%> hours </p>
                            
                         <%  } %>
                         <%  if(user.subforms.length==0){ %>
                            
                            <form action="/form/<%= form.id %>/submit/">
                                <button>Fill response</button>
                                </form>
                               
                                <p class="submsg" >You can fill this form <%=  form.subperuser   %> more times </p>
                                <p class="deadlinemsg">*Submission ends in <%= (((form.duration+form.time)-Date.now())/3600000 ).toFixed(2)%> hours </p>   
                          <% } %>
                           <% } %>
                
                          </div>
                   
              <% }); %>
            </div> 
            </div>
      </section>
        
            <% if(user.notifications.length>0){ %>   
              <section id="notificationpanel">
                <h2 style="text-transform: uppercase;text-align: center;">Notifications</h2>
              <% user.notifications.forEach(function(notif){ %>
              <div class="notifybar" >
              <p><%= notif.msg %> </p>
              <p><%= Math.floor( (Date.now()- notif.time)/60000 ) %> mins ago</p>
              
              </div>
              <% }) %>
              
              <form action="/user/<%= user.id %>/clear/notification" method="POST">
              <button id="clearnot" >Clear </button>
              </form>
              <% } %>
              </section>
              <script>
              
              var btn=document.querySelector("#btn");
var notbtn=document.querySelector("#notbtn");
var notificationpanel=document.querySelector("#notificationpanel");
var notifybar=document.querySelectorAll(".notfiybar");
var sec1=document.querySelector("#sec1");
notificationpanel.style.display="none";
notbtn.addEventListener("click",function(){

    notificationpanel.style.display="";
    sec1.style.opacity="0.2";
})
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}              
              
              </script>
</body>
</html>